body 
{
    background-color: rgba(143, 86, 204, 0.292);  
}
img
{
    display: block;
    /* position: absolute;   */
    margin: auto;  
    /* right : 50%; */
    /* top: 50px; */
    border: 10px solid rgb(225, 36, 36);
    box-shadow: 2px 2px 2px black;
}
h1
{
    text-align: center; 
    color: #6110e4;
    margin-left: 20px;
    /* font-family: 'Roboto',sans-serif;  */
}
p
{ 
    color: #6110e4;  
    margin-left: 20px; 
    text-align: center; 
}
h2
{
    color:rgb(72, 23, 75);
    /* text-align: center; */
    margin-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
